<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SingleFile</title>
    <style>
      canvas {
        border: 1px solid black;
        direction: ltr;
        height: 300px;
        width: 200px;
      }
    </style>
</head>
<body>
  <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
    <% if(files){%>
      <canvas id="<%= files.filename%>"></canvas>
      <!-- This below comment code can be used to show the pdf directly-->
      <!--<embed width="300" height="375" src="pdf/<%= files.filename %>#toolbar=0">--> 
      <script>
        //url for the file to be uploaded
        var url = '/upload/pdf/<%= files.filename %>';
        // Loaded via <script> tag, create shortcut to access PDF.js exports.
        var pdfjsLib = window['pdfjs-dist/build/pdf'];
  
        // The workerSrc property shall be specified.
        pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';
  
        //Below code is directly taken from pdf.js site to load the first page from the pdf
        var loadingTask = pdfjsLib.getDocument(url);
        loadingTask.promise.then(function (pdf) {
          console.log('PDF loaded');
  
          // Fetch the first page
          var pageNumber = 1;
          pdf.getPage(pageNumber).then(function (page) {
            console.log('Page loaded');
  
            var scale = 1.5;
            var viewport = page.getViewport({
              scale: scale
            });
  
            // Prepare canvas using PDF page dimensions
            var canvas = document.getElementById('<%= files.filename%>');
            var context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;
  
            // Render PDF page into canvas context
            var renderContext = {
              canvasContext: context,
              viewport: viewport
            };
            var renderTask = page.render(renderContext);
            renderTask.promise.then(function () {
              console.log('Page rendered');
            });
          });
        }, function (reason) {
          // PDF loading error
          console.error(reason);
        });
      </script>
      <!-- Download and Previewer form -->
      <form action="/upload/pdf/<%= files.filename%>" method="GET" target="_blank">
        <label for='download'><input type="submit" value="View the pdf"></label>
      </form>
      <a href="/upload/pdf/<%= files.filename %>" target="_blank" rel="noopener noreferrer" download>Download the PDF</a>
        <h1>Title : <%= files.metadata.title %> by <%= files.metadata.author  %></h1>
        <h2>Desc : <%= files.metadata.desc  %></h2>
        <h2>Genre: <%=files.metadata.genre%></h2>
      <% } %> <!-- Ending of that if statement-->
</body>
</html>